html,
body,
#root {
  min-height: 100vh;
  position: relative;
  min-height: calc(100vh-150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.post {
  width: 30%;
}

footer.footer {
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  height: 100px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  font-size: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .post {
    width: 100%;
  }
}
